<div class="block">
  <h1 class="font-bold text-4xl">Questions for test number <%= @test.id %>: </h1>
  <ol>
    <% @questions.each do |q|%>
       <li><%= link_to q.body, test_question_path(@test, q) %></li>
    <% end %>
  </ol>
  <%= link_to 'Create new Question', new_test_question_path(@test) %>
</div>
