<div>
  <h1>Question number <%= @question.id %></h1>
  <p><%= @question.body %></p>
  <%= button_to 'Delete Question', 
                  test_question_path(@question.test, @question), 
                  method: :delete %>
  <%= link_to 'Back to Questions', test_questions_path %>
</div>
