  <% if @test.errors.any? %>
    <div class="mb-4 p-4 bg-red-100 rounded-lg">
      <h2 class="text-red-700 font-bold mb-2"><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul class="list-disc list-inside">
        <% @test.errors.full_messages.each do |message| %>
          <li class="text-red-700"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  