<div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <h1 class="d mb-4">About the Author</h1>
  <p class="mb-4">
    Hello! My name is Gleb Shabanov, the creator of this project. I have a passion for Ruby on Rails! Let's connect!
  </p>
  <p class="mb-4">
    You can find more about my work on my GitHub profile: 
    <a href="https://github.com/glebshbv/" class="text-strawberry hover:underline" target="_blank">GitHub</a>
  </p>
</div>
