<div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <h1 class="mb-4">About Our Project</h1>
  <p class="mb-4">
    Welcome to our project! This application is designed to create an application for students to receive tests, and for teachers to create and check these tests.
  </p>
  <p class="mb-4">
    For more information, visit our partner online school <a href="http://www.thinknetica.com" class="text-strawberry hover:underline" target="_blank">Thinknetica</a>.
  </p>
</div>
