<div class="flex flex-col items-start justify-start gap-y-3 p-2 border rounded-lg shadow bg-slate-100">
  <div class="flex flex-row gap-1 items-center justify-between w-full">
    <div class="flex flex-col items-center">
      <p class="font-bold">Category</p>
      <p><%= test.category.title %></p>
    </div>
    <div class="flex flex-col items-center">
      <p class="font-bold">Level</p>
      <p><%= test_level(test.level) %></p>
    </div>
  </div>
  <div class="flex flex-col border-t-2 border-gray-800 mt-2 w-full py-2">
    <%= button_to 'Start Test', start_test_path(test) , class: "p-2 my-1 rounded-xl bg-yellow-600 border-gray-700"%>
  </div>
</div>
