<h1 class="my-4 font-normal text-gray-700">Welcome to Test Guru! There are tests available:</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <%= render @tests %>
</div>
