<div class="flex flex-row items-center justify-between">
  <p class="nav user"><%= t('navbar.welcome', email: current_user.email) %></p>
  <%= link_to t('navbar.tests'), root_path %>
  <%= button_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: "w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
</div>
